header {
    background-color: #F9D0A3;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: #ffa500;
  }
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .nav-list {
    display: flex;
    gap: 20px;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      display: none; /* Cache le menu sur mobile */
    }
  }

  .logo {
    max-width: 100px;
    height: auto;
  }