.header {
  background-color: #F9D0A3;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 40px;
  border-bottom:  #DA001E solid 3px;
}

.logo img {
  max-width: 80px;
  border-radius: 25%;
  cursor: pointer;
}

.menu {
  display: flex;
}

.logo-container {
  flex: 0 1 auto; /* Le logo prend toute la place restante à gauche */
  margin-left: 50px;
}

.menu-container {
  display: flex;
  justify-content: flex-end;
  flex: 0 1 auto;
  margin-right: 30px;
}

.menu-container ul {
  display: flex;
  list-style: none;
  gap: 40px; /* Espacement entre les éléments du menu */
  margin: 0;
  padding: 0;
}

.menu-container li {
  margin-left: 20px;
}

.menu-link {
  text-decoration: none;
  color: #000;
  font-family: Comfortaa, sans-serif;
  font-size: 18px;
}

.menu-link:hover {
  text-decoration: underline;
}