.title {
    font-family: 'Bubbleboddy Neue', cursive;
    color: #DA001E; /* Rouge de la palette */
  }
  
  .text {
    font-family: 'Comfortaa', sans-serif;
    color: #151217; /* Noir de la palette */
  }
  