<div>
    <h1>À propos de nous</h1>
    <p>
        Contrairement à la croyance populaire, le Lorem Ipsum 
        n'est pas un simple texte aléatoire. Il trouve ses racines 
        dans un texte de la littérature latine classique datant 
        de 45 av. J.-C., ce qui le rend vieux de plus de 2000 ans. 
        Richard McClintock, professeur de latin au Hampden-Sydney College 
        en Virginie, a recherché l'un des mots latins les plus obscurs, 
        consectetur, dans un passage du Lorem Ipsum, et en parcourant 
        les citations du mot dans la littérature classique, 
        il a découvert la source indubitable. Le Lorem Ipsum provient 
        des sections 1.10.32 et 1.10.33 de "de Finibus Bonorum et Malorum" 
        (Les extrêmes du bien et du mal) de Cicéron, écrit en 45 av. J.-C. 
        Ce livre est un traité sur la théorie de l'éthique, 
        très populaire pendant la Renaissance.
    </p>
</div>