

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Assure que le conteneur prend toute la hauteur de la fenêtre */
}

.content {
  flex: 1; /* Permet à ce bloc de prendre tout l’espace disponible */
}
