@font-face {
  font-family: 'Bubbleboddy';
  src: url('assets/fonts/bubbleboddyneue-regular\ trial.ttf') format('truetype');
}

@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa-Regular.ttf') format('truetype');
}

body {
  font-family: 'Comfortaa', sans-serif;
}

h1, h2, h3 {
  font-family: 'Bubbleboddy', sans-serif;
}

:root {
  --primary-color: #F9D0A3;
  --secondary-color: #FDD90B;
  --dark-color: #151217;
  --accent-color: #DA001E;
}

body {
  background-color: var(--primary-color);
  color: var(--dark-color);
  margin: 0;
  padding: 0;
}
