@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('./assets/fonts/bubbleboddyneue-regular\ trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');
  
  body {
    font-family: 'Comfortaa', sans-serif;
}
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Bubbleboddy Neue', cursive;
  }
  