.home-container {
  position: relative;
  height: 1800px; /* Hauteur de la fenêtre */
  overflow: hidden;
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
}

.background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/fond1.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(8px); /* Applique le flou uniquement à l'image */
  z-index: -1; /* Place l'image derrière le contenu */
}

.bloc1 {
  position: relative;
  z-index: 1; 
  text-align: center;
  padding-top: 100px; 
  margin-left: 200px;
  margin-right: 200px;
}

.hh1 {
  color: #FDD90B;
}

.pp1 {
  color: #DA001E;
}

.bloc2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-top: #DA001E solid 3px;
  color: #DA001E;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  margin-bottom: 80px;
  padding: 5px;
  margin-left: 120px;
  margin-right: 600px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10%;
}

input {
  margin-bottom: 80px;
  padding: 5px;
  margin-left: 120px;
  margin-right: 500px;
  font-size: 16px;
  cursor: pointer;
  border: solid 2px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 200px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.details-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
    .hero h1 {
      font-size: 2rem;
    }
  
    .hero p {
      font-size: 1.2rem;
    }
  
    .catalogue h2 {
      font-size: 1.5rem;
    }
  
    .catalogue li {
      font-size: 1rem;
    }
  }